.search {
    margin-top: 100px;
}
.search input {
    padding: 10px;
    border-radius:10px 0 0 10px;
    border: 2px dashed #fe5d42;
    padding: 10px;
    width: 250px;
    font-size: 0.9rem;
    color: #fe5d42;
    border-radius: 10px;
    margin-right: 10px;
}
.search input:focus { 
    outline: none;
}
.search button {
    padding: 10px;
    font-size: 1rem;
    background-color: #fe5d42;
    color: #fff;
    border-radius: 10px ;
    border: none;
    cursor: pointer;
}
.search button:hover {
    background-color: #7b1604;
    transition: all 0.3s ease-in;
}
@media(max-width:555px) {
    .search input {
        width: 200px;
    }
}
